.background {
    
        background-image: 
        url(
      "../../Images/Lot-Font.png");
       
         height: 100vh;
         /* max-width: auto; */
        margin-top: -70px;
        font-size:50px; 
        background-repeat:no-repeat; 
        background-position: center center;
        background-attachment: fixed;
        
        background-size:cover;
       
        
      }

      

      .firstText {
      
          margin-top: 4em;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 2em
      }

      .btnMargin{
        margin-top:12%
      }

      .titleMargin {
        margin-top:29%

      }