*{
  font-family: 'Oswald', sans-serif;
}
.photo {
    height: 100%;
    width: 75%;
  }
  .logo {
      margin-top: 5%;
    width:30%;
    height:50%;
  }

 .textColor {
  color: #75935f;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
 }